.nav {
	.MuiToolbar-root {
		display: flex;
		flex-direction: column;
		background: $verde;
	}
	.MuiTypography-root {
		color: $crema;
		font-size: 2.5rem;
	}

	.MuiButtonBase-root {
		border-radius: 50%;
		padding: 0.7rem;
		min-width: 0;
		margin: 5px;
		background: $azul;
		color: $crema;
		:hover {
			background: $crema;
			color: $azul;
		}
	}
}
@media (min-width: 0px) and (orientation: landscape) {
	.container {
		.nav .MuiToolbar-root {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 80px;
		}
	}
}
