@import "tailwindcss";

/* Light mode */
:root {
  /* Base */
  --background: 227 246 245;
  --foreground: 39 38 67;
  --primary: 44 105 140;
  --accent: 186 232 232;
  --card: 200 100 324 / 0.8;
  --card-border: 0 0 0 / 0.06;
  --muted: 100 116 139;
}

/* Dark mode */
.dark {
  --background: 15 23 42;
  --foreground: 226 232 240;
 --card: 200 100 324 / 0.8;
  --card-border: 255 255 255 / 0.08;
  --primary: 56 189 248;
  --accent: 186 232 232;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));

}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 2s ease infinite;
}

.text-gradient {
  background-image: linear-gradient(to right,
      #a855f7,
      #ec4899,
      #3b82f6);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}