@import "tailwindcss";

/* 🌞 Light mode */
:root {
  --background: 227 246 245;
  /* #e3f6f5 */
  --foreground: 39 38 67;
  /* #272643 */

  --primary: 44 105 140;
  /* #2c698c */
  --accent: 186 232 232;
  /* #bae8e8 */

  --card: 255 255 255;
  /* #ffffff */
}

/* 🌙 Dark mode */
.dark {
  --background: 39 38 67;
  /* #272643 */
  --foreground: 227 246 245;

  --primary: 44 105 140;
  --accent: 186 232 232;

  --card: 55 54 80;
  /* un tono más claro que fondo */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 2s ease infinite;
}

.text-gradient {
  background-image: linear-gradient(to right,
      #a855f7,
      /* morado */
      #ec4899,
      /* rosa */
      #3b82f6
      /* azul */
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}